/GNUmakefile
/build/
.build/*
.build
.build-win/*
.build-win
/build/
build/*
build
build-win/*
build-win
build-win/
/build-win/
/build-win/*
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov
cross_build/*
roms/qemu-palcode
roms/openbios
roms/ipxe
roms/ipxe
roms/openbios
roms/qemu-palcode
roms/QemuMacDrivers
roms/seabios
roms/SLOF
qemu-10.2.2.tar.xz
qemu-10.2.2.tar.xz.sig
